@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(200, 200, 200);
  font-family: "Carme", sans-serif; 
}

.container {
  text-align: center;
}
